#loya{
    background-color: green;
    border-radius: 5px;
    padding:5px;
    font-size: 15px
  }

table, th, td {
    border: 1px solid #c1c1c2;
    border-collapse: collapse;
    align-items:center;
    text-align:center
}

table{
    width:1000px;
    margin:auto;
    font-size:20px;
}
#insert{
    display:flex;
    margin:auto;
    margin-top:25px;
    margin-bottom: 150px;
    position: relative;
    background: #ffffff;
    overflow: hidden;
    z-index: 1;
    width:auto
}
#Bus_Head{
    width: 1000px;
    margin:auto
}
#myDIV {
  height:300px;
  display: grid;
  gap: 10px;
  /*background-color: #2196F3;*/
  /*padding: 10px;*/
    grid-template-columns: 350px 350px;
  grid-template-rows: auto auto auto auto;
    width: auto;
    margin:auto;
    margin-bottom:100px;
    /*width:500px;*/
    /*margin:auto;*/
}

#myDIV div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: left;
  padding: 10px 0;
  font-size: 20px;

    /*width:250px;*/
    margin-left:50px
;
}

#insert_here{
    background: #ffffff;
    overflow: hidden;
    z-index: 1;
    width:700px;
    margin:auto;
    margin-bottom:100px
}
body{
    font-size:25px;
    width:1000px;
    margin:auto;
    background:#e2e2e2;
    margin-bottom: 700px;
}
#myDIV_1 {
  height:auto;
  display: grid;
  /*background-color: #2196F3;*/
  /*padding: 10px;*/
    grid-template-columns: 223px 223px 223px;
  grid-template-rows: 300px;
    /*width:250px;*/
    /*margin:auto;*/
    width:auto;
    margin:auto;
    margin-left: 7px;
    margin-right:7px;
    margin-bottom: 20px;
    grid-column-gap: 2px ;
}
#myDIV_1 div {
  text-align: center;
  font-size: 20px;
}

#main{
    position:relative;
    margin: auto;
    margin-bottom:100px;
    display: block;
    width:80%;
    height:auto;
    background:#fff;
    border-radius:5px;
    overflow:hidden;
    z-index:1;
  }

  #div1{
    color: white;
    height: auto;
    padding: 0%;
    background-image: url('./banner.jpeg');
    background-size: 100% 250%;
      background-position: bottom;
      font-family:"Helvetica Full Stack,sans-serif";
  }

  #div1 h2{
    padding-left: 30px;
    padding-top: 30px;
      font-weight: normal;
    margin-top: 0px;
      margin-bottom: -10px;
  }
  #div1 h4{
      padding-left: 30px;
      font-weight: normal;
      font-family: sans-serif;
      padding-bottom:30px;
  }
#form-div{
    height:auto;
}
  #Keyword, #Location{
  width: 90%;
  padding: 10px 10px;
  margin: 8px 8px 8px 20px;
  align-items: center;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline:none;
 }

  #Keyword:focus{
    border: 2px solid black;
  }
  #Location:focus{
    border: 2px solid black;

  }


  #Distance{
  width: 40%;
  padding: 10px 10px;
  margin: 8px 8px 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline:none;
 }
 #Distance:focus{
    border: 2px solid black;
  }

  #Category{
    width: 40%;
    padding: 10px 10px;
    margin: 8px 8px 8px 63px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline:none;
      /*margin-right:-40px*/
  }

   label{
    margin: 8px 8px 8px 20px;
    color: dodgerblue;
   }
   .cat-space{
    margin-left:25.5%;
   }

   hr{
    width: auto;
    margin: 8px 8px 8px 20px;
    border-top: 1px  #4d6eaa;
   }
.submit-btn{
    margin-left: 20px;
    padding: 20px 25px;
    background-color: #4d6eaa;
    border: none;
    color: white;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 5px #374975;

   }

   .reset-btn{
    padding: 20px 25px;
    background-color: #feb706;
    border: none;
    color: white;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 5px #f47d02;
   }
   .submit-btn:Hover{
       background-color:#1572a6;
   }

   .reset-btn:Hover{
       background-color: #b6731c;
   }
    span:hover{
        color: gray;
    }