<html>
<body>
<form>
Keyword:<br>
<input type="text" id="Keyword"><br>
Distance(miles):<br>
<input type="text" id="Distance"><br>
Category:<br>
<input type="text" id="Category"><br>
Location:<br>
<input type="text" id="Location"><br>
    <div id="insert"></div>
<button type="button" onclick="submit_data()">Submit!</button>
</form>
</body>
<script>
    function submit_data(){
        Keyword=document.getElementById("Keyword")
        //var Distance=parseInt(document.getElementById("Distance"),10)
        Distance=document.getElementById("Distance")
        console.log(Distance)
        Category=document.getElementById("Category")
        Location=document.getElementById("Location")
        let ip_details=new XMLHttpRequest();
        ip_details.open ("GET", "https://ipinfo.io/json?token=1bbc38aae32625");
        ip_details.send();
        ip_details.onload = () =>{
            if (ip_details.status == 200) {
                console.log(JSON.parse(ip_details.response));
                var target = document.getElementById("insert");
                target.innerHTML += "<p>"
                var obj1=JSON.parse(ip_details.response)
                temp=obj1.loc
                temp.toString()
                 temp2=temp.split(',')
                target.innerHTML += typeof(Distance.value)
                target.innerHTML += "</p>"
            } else {
                console.log('error ${request.status} {request.statusText}')
            }
        }

        let request = new XMLHttpRequest();
        request. open ("GET", "/index?Keyword=Keyword.value&Distance=Distance.value&Category=Category.value&Location=Location.value");
        request.send();
        request. onload = () => {
            console.log(request);
            if (request.status == 200) {
                console.log(JSON.parse(request.response));
                var target = document.getElementById("insert");
                target.innerHTML += "<p>"
                target.innerHTML += JSON.parse(request.response)
                target.innerHTML += "</p>"

            } else {
                console.log('error ${request.status} {request.statusText}')
            }
        }
    }
</script>
</html>